include CONTRIBUTING.md
include LICENSE
include README.md
include label_free/py.typed

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
graft label_free/data
